<h1 mat-dialog-title>Add Product</h1>
<form [formGroup]="productForm">
  <mat-dialog-content class="dialog">
    <mat-form-field>
      <input
        matInput
        placeholder="Product Name"
        formControlName="name"
        [(ngModel)]="product.name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Image URL"
        formControlName="image"
        [(ngModel)]="product.image"
      />
    </mat-form-field>

    <div class="field-middle">
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Price"
          formControlName="price"
          [(ngModel)]="product.price"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Brand Name"
          formControlName="brandName"
          [(ngModel)]="product.brandName"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        [(ngModel)]="product.description"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="productForm.value"
      [disabled]="productForm.invalid"
      (click)="onProductAdd()"
    >
      Add
    </button>
  </mat-dialog-actions>
</form>
